*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* header start */
header{
    width: 100%;
    height: 100%;
    background: rgba(255, 144, 14, 0.1);
}
.header-container{
    max-width: 100%;
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
}
.logo{
    font-size: 35px;
    font-weight: 900;
}
nav li{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}
nav li:hover{
    color: #FF900E;
}
/* header main section style */
.header-main-conainer{
    max-width: 100%;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    align-items: center;
}
.heder-ditails{
    margin: 0 auto;
}
.header-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
}
.header-dicription{
    font-size: 15px;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 20px;
}
.header-btn{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 20px;
    margin-left: 30%;
    transition: 0.3s;
}
.header-btn:hover{
    width: 180px;
    height: 70px;
    background-color: #FF900E;
}
.header-banner{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.banner-img{
    width: 850px;
    height: 420px;
    transition: 0.3s;
}
/* header and */

/* main section start */

/* section1 start */
.section2-container{
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 900px;
    display: flex;
    margin: 0 auto;
    gap: 40px;
    padding: 30px;
}
.section2-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-img{
    width: 200px;
    height: 200px;
    transition: 0.3s;
}
.grid-img:hover{
    width: 220px;
    height: 220px; 
}
.section2-title{
    font-size: 30px;
    font-weight: 900px;
}
.special-1{
    color:#999999
}
.special-2{
    color: #FF900E;
}
.section2-discription{
    font-size: 15px;
    font-weight: 600px;
    color: grey;
    padding: 15px 0;
}
.section2-btn{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.section2-btn:hover{
    width: 180px;
    height: 70px;
    background-color: #FF900E;
}
/* section2 end */

/* section3 start */
.section3-container{
    max-width: 100%;
    width: 900px;
    display: flex;
    margin: 100px auto 0;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.section3-title{
    font-size: 30px;
    font-weight: 900;
    border-left: 4px solid rgb(255, 111, 0);
    padding-left: 10px;
}
.section3-discription{
    font-size: 15px;
    font-weight: 600;
    color: grey;
    margin: 20px 0;
}
.section3-img img{
    width: 500px;
    height: 700px;
    transition: 0.3s;
}
.section3-img img:hover{
    width: 510px;
    height: 710px;
}
.section3-aside{
    box-shadow: 1px 1px 9px grey;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s;
}
.section3-aside:hover{
    background-color: #fc6900;
    color: rgb(0, 0, 0);
}
.aside title{
    font-size: 20px;
    font-weight: 700px;
}
.aside-discription{
    margin-top: 10px;
    font-weight: 400;
    color: grey;
}
.aside-discription:hover{
    color: rgb(0, 0, 0);
}
.big-btn button{
    width: 230px;
    height: 150px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 40px;
    transition: 0.3s;
}
.big-btn button:hover{
    width: 240px;
    height: 160px;
    background-color: #FF900E;
    color: white;
}
.big-btn{
    max-width: 100%;
    width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
/* section4 start */
.section4-container{
    max-width: 100%;
    width: 900px;  
    margin: 0 auto;
}
.section4-title{
    font-size: 30px;
    font-weight: 900;
    margin: 50px auto;

}
.desing-img{
    height: 250px;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}
.desing-img:hover{
    height: 260px;
    width: 310px;
}
.section4-desings{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}
/* section5 start */

.section5-details{
    max-width: 100%;
    width: 900px;  
    margin: 80px auto;  
}
.section5-title{
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 20px;
}
.section5-discription{
    font-size: 15px;
    font-weight: 600;
    color: grey;
}
/* section5 box container start */
.section5-box-container{
    display: flex;
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
    justify-content: space-evenly;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    padding: 40px 30px;
    transition: 0.3s;   
}
.box:hover{
    width: 210px;
    height: 210px;
    background-color: #FF900E;
}
.box-img{
    width: 45.22px;
    height: 45.22px;
}
.box-title{
    font-size: 30px;
    font-weight: 900;
    padding:10px 0;
}
.box-discription{
    font-size: 15px;
    font-weight: 500;
    color: grey;
}
.box-discription:hover{
    color: rgb(0, 0, 0);
}
/* section6 start */
.section6-container{
    margin-top: 80px;
    text-align: center;
}
.section6-title{
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 15px;
}
.section6-discription{
    font-size: 15px;
    font-weight: 600;
    color: grey;
}
.section6-logos-container{
    display: flex;
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 40px;
}
.logo-img{
    width: 100px;
    height: 30px;
    filter: grayscale(1);
    transition: 0.3s;
}
.logo-img:hover{
    width: 120px;
    height: 40px;
    filter: brightness();
}
/* footer-start */
.footer-container{
    display: flex;
    max-width: 100%;
    width: 900px;
    justify-content: center;
    margin: 80px auto 0;
    background-color: black;
}
.footer-ditails{
    color: white;
    text-align: center;
    line-height: 30px;
}
/* media quary */
@media screen and (max-width: 576px){
    .header-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 20px;
        align-items: center;
    }
    nav li{
        list-style: none;
        font-size: 18px;
        font-weight: 500;
    }
    nav ul{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .banner-img{
        width: 100%;
        height: 100%;
    }
    .header-btn{
        width: 150px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: rgb(255, 106, 0);
        color: white;
        font-size: 20px;
        text-align: center;
    }
    /* section2 */
    .section2-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 900px;
        margin: 0 auto;
        gap: 40px;
        padding: 30px;
    }
    .section2-img{
        grid-template-columns: repeat(1, 1fr); 
    }
    .section2-ditails{
        text-align: center;
    }
    .section3-container{
        flex-direction: column-reverse;
    }
    .section3-img img{
        width: 100%;
        height: 100%;
    }
    .section3-ditails{
        text-align: center;
    }
    .section3-aside{
        padding: 20px;
    }
    .big-btn button{
        margin-top: 10px;
        width: 130px;
        height: 70px;
        border: none;
        border-radius: 10px;
        background-color: rgb(255, 106, 0);
        color: white;
        font-size: 20px;
    }
    /* section4 start */
    .section4-desings{
        grid-template-columns: repeat(1, 1fr);
    }
    .section4-container{
        width: 100%;
        text-align: center;  
    }
    .desing-img{
        width: 100%;
        height: 100%;
        padding-bottom: 5px;
    }
    /* section5 start */
    .section5-details{
        width: 100%;
        text-align: center; 
        margin: 40px auto;
        padding-left: 15px;
    }
    .section5-box-container{
        flex-direction: column;
        width: 100%;
        padding-left: 25%;
        gap: 10px;
    }
    /* section6 start */
    .section6-container{
        margin-top: 80px;
        width: 100%;
        text-align: center;
    }

    .section6-logos-container{
        flex-direction: column;
        width: 100%;
        text-align: center; 
        gap: 20px;
    }
    .footer-container{
        display: flex;
        width: 100%;
    }
    .footer-ditails{
        color: white;
        text-align: center;
        line-height: 30px;
        padding: 20px;
    }
}